<!DOCTYPE html>
<html lang="en">
{% include head %}
<body class="container px-4 lg:px-0 font-serif bg-gray-100 dm:bg-blue-900 text-gray-900 dm:text-gray-100">

	<div class="body-holder">
	
		{% include header %}

		<main>{{ content }}</main>

		{% include footer %}

	</div>


	<script src="/assets/js/index.min.js"></script>
</body>
</html>
