<header class="text-center">
    <h1><a href="/">{{site.title}}</a></h1>
    <h2 class="mb-8">{{site.subtitle}}</h2>

    <nav class="text-sm">
        {% assign lastItem = services | last %}
        {% for item in services %}
            <a href="/subscriptions/{{item | slug}}/" class="{% unless item == lastItem %}mr-2{% endunless %}">{{item | upcase}}</a>
        {% endfor %}
    </nav>
</header>
