<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{site.title}}{% if title %} - {{ title }}{% endif %}</title>

	{% if content-description != "" and content-description != nil %}
		<meta name="Description" content="{{content-description}}">
	{% endif %}
	<meta name="robots" content="noindex">

	{% comment %} Privacy friendly trackin {% endcomment %}
	<script async defer data-track-acquisition data-domain="billmypocket.netlify.app" src="https://plausible.io/js/plausible.js"></script>

	<link rel="stylesheet" href="/assets/css/style.css">
</head>
